// zmiana koloru tła
body {
    --tlo: white;
}
body[data-kolor="white"] {
    --tlo: white;
}
body[data-kolor="yellow"] {
    --tlo: rgb(251, 251, 144);
}
body[data-kolor="blue"] {
    --tlo: rgb(65, 157, 255);
}
body[data-kolor="green"] {
    --tlo: rgb(148, 255, 148);
}
body[data-kolor="aqua"] {
    --tlo: rgb(124, 255, 255);
}
body {
    background-color: var(--tlo);
}
.App {
    min-height: 100vh;
}
table {
    tr {
        td:not(.podpis) {
            width: 50px;
            min-width: 50px;
            max-width: 50px;
            height: 50px;
            min-height: 50px;
            max-height: 50px;
            padding: 0;
        }
        .zamal {
            //zamalowana komórka
            background-color: black;
        }
        .podpis {
            position: sticky;
            left: 0;
            background: var(--tlo);
            white-space: nowrap;
        }
    }
}

@media (max-width: 600px) {
    table {
        tr {
            .podpis {
                position: unset;
                left: unset;
            }
        }
    }
}
