body {
    background-color: beige;
    margin: 10px;
}
h1 {
    color: brown;
    font-size: 48px;
    letter-spacing: 3px;
    font-family: Vivaaldi;
    font-weight: bolder;
    text-align: center;
}
a {
    color: #008800;
}
ul {
    list-style: circle;
}
footer {
    background-color: brown;
    color: white;
    font-size: 12px;
}
